<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ana Sayfa</title>
</head>
<body>
    <p>{{ article["title"] }}</p>
    <p>{{ article["body"] }}</p>
    <p>{{ article["autor"] }}</p>   
    <!-- ilk üçü bu şekide yapılabilir-->
    <!--aşağıdaki gibi de yapılablir noktalı-->
    <p>___________________________</p>
    <p>{{ article.title }}</p>
    <p>{{ article.body }}</p>
    <p>{{ article.autor }}</p> 

</body>
</html>